@mixin align($defaultPosition, $brp1:null, $brp1-pos:null) {
  @if $defaultPosition == 'center' {
    margin-left: auto;
    margin-right: auto;
  } @else if $defaultPosition == 'left' {
    float: left;
  } @else if $defaultPosition == 'right' {
    float: right;
  } @else if $defaultPosition == 'auto' {
    margin: auto;
  }

  @if $brp1 != null {
    @media screen and (min-width: $brp1) {
      @if $brp1-pos == 'center' {
        margin-left: auto;
        margin-right: auto;
      } @else if $brp1-pos == 'left' {
        float: left;
      } @else if $brp1-pos == 'right' {
        float: right;
      } @else if $brp1-pos == 'auto' {
        margin: auto;
      }
    }
  }

}