// Font-size
@mixin font-size($number, $number2:null) {
  font-size: #{ $number + 'rem'};

  @if $number2 != null {
    @media screen and (min-width: $desktop) {
      font-size: #{ $number2 + 'rem'};
    }
  }
}
