// Line-height
@mixin line-height($number) {
  line-height: #{ $number * $leading + 'px'};
  line-height: #{ $number * $leading-rem + 'rem'};

  @media screen and (min-width: $desktop) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    line-height: #{ $number * $leading + 'px'};
    line-height: #{ $number * $leading-rem + 'rem'};
  }
}
