@mixin max-width($width:null, $width2:null, $breakpoint1:null, $width3:null, $breakpoint2:null) {
  max-width: $width;

  @if $width2 != null {
    @media screen and (min-width: $breakpoint1) {
      max-width: $width2;
    }
  }

  @if $width3 != null {
    @media screen and (min-width: $breakpoint2) {
      max-width: $width3;
    }
  }
}