// padding
@mixin padding($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'} #{ $left * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }

    @media screen and (min-width: $desktop) {
      $leading: $leading-desktop;
      $leading-rem: $leading-rem-desktop;

      @if $left == null and $bottom == null {
        padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'};
        padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
      } @else if $left == null or $left == $right {
        padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'};
        padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
      } @else {
        padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'} #{ $left * $leading + 'px'};
        padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
      }
    }
}

@mixin padding-equal($number) {
  padding: #{ $number * $leading-rem + 'rem'};

  @media screen and (min-width: $desktop) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    padding: #{ $number * $leading-rem + 'rem'};
  }
}
