<footer class="site-footer h-card textAlignCenter alignCenter f-sz-xs">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading f-cl-pink-red m-b-0">{{ site.title | escape }}</h2>
    <div class="m-b-1">
      <a href="/contact/">Contact</a> | <a href="/privacy-policy/">Privacy policy</a> | <a href="/terms-and-conditions/">Terms
        &amp; Conditions</a>
    </div>

    <p class="footer-small-print alignCenter--always">
      Another thing brought to you by <a href="https://matejlatin.com">Matej Latin</a><br>
      &copy; UX Buddy {{ "now" | date: "%Y" }}
    </p>

  </div>

</footer>

{%- include js.html -%}
