<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg width="20" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path stroke-width="2" d="M0 1h20M0 8h20M0 15h20" /></svg>
          </span>
        </label>

        <div class="trigger">
          <!-- <a class="page-link" href="/#about-author" id="link-about-author">About me</a> -->
          <a class="page-link" href="https://course.uxbuddy.co/login/">Student login</a>
          <!-- <a class="page-link page-link-cta" href="/#subscribe" id="link-join-waitlist">Join the waitlist →</a> -->
          <a class="page-link page-link-cta" href="/#get-access" id="link-join-waitlist">Get instant access →</a>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
