<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="cf-2fa-verify" content="1dc9a05d8cc1a30">
  {%- seo -%}
  <link rel="preload" as="font" href="/assets/fonts/3A1C32_0_0.woff2" type="font/woff2" crossorigin="crossorigin">
  <link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style">
  <link rel="preload" href="/assets/js/main.js" as="script">
  <title>{{ page.title }} | UX Buddy — An online course by Matej Latin</title>
  {%- include favicon.html -%}
  {%- feed_meta -%}
  <script type="text/javascript">
    var host = "uxbuddy.co";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  {%- if page.noindex -%}
    <meta name="robots" content="noindex, nofollow">
  {%- endif -%}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
