<!-- Load JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{%- if jekyll.environment == 'production' and site.google_analytics -%}
  {%- include google-analytics.html -%}
{%- endif -%}

<script src="/assets/js/main.js"></script>

{%- if page.custom-js -%}
  {%- for script in page.custom-js -%}
    <script src="{{ script }}"></script>
  {%- endfor -%}
{%- endif -%}