/* Configuration
   ========================================================================== */

$edit-mode: false !default; // [ true / false ] - Enables/disables the grid toggle button.

// Theme / Fonts
$theme: custom !default; // [ Merriweather / OpenSans / custom ]
$custom-font-body:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // [ "Libre Baskerville", Georgia, serif ]
$custom-font-headings: "Gilroy", Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Paragraph indenting
$paragraph-indent: false; // [ true / false ]

/* Font themes
   ========================================================================== */

$font-body: null;
$font-headings: null;

@if $theme == Merriweather {

  // Import Merriweather
  @import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic");

  // Set body font
  $font-body: Merriweather, Georgia, serif;

}
@else if $theme == OpenSans {

  // Import Open Sans
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic");

  // Set body font
  $font-body: Open Sans, Arial, Helvetica, Sans-serif;

}
@else if $theme == custom {

  // Set custom body font
  $font-body: $custom-font-body;

  // Set custom headings font
  @if $custom-font-headings != $custom-font-body {
    $font-headings: $custom-font-headings;
  }
}
