$midnight: #2c3e50;
$clouds: #ecf0f1;

.accordion {
  // display:flex;
  max-width: 800px;
  @include align('center');

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// General
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.accordion-tabs {
  overflow: hidden;
}

.accordion-tab {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;

  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey-50;
    cursor: pointer;
    transition: all .3s;
    // font-weight: bold;
    @include padding(1, 1);
    
    @media screen and (min-width: $desktop) {
      font-size: 20px;
      @include padding(1, 1.5);
    }

    /* Icon */
    &:hover {
      background: darken($grey-50, 2%);
    }
    &::after {
      content: "\276F";
      width: 32px;
      height: 28px;
      text-align: center;
      transition: all .3s;
    }
  }
  &-content {
    max-height: 0;
    background: white;
    transition: all .3s;
    @include padding(0, 1);

    @media screen and (min-width: $desktop) {
      @include padding(0, 1.5);
    }
  }
  // &-close {
  //   display: flex;
  //   justify-content: flex-end;
  //   padding: 1em;
  //   font-size: 0.75em;
  //   background: $midnight;
  //   cursor: pointer;
  //   &:hover {
  //     background: darken($midnight, 10%);
  //   }
  // }
}

// :checked
.accordion input:checked {
  + .accordion-tab-label {
    background: $green-100;

    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordion-tab-content {
    max-height: 100vh;
    @include padding(1, 1);

    @media screen and (min-width: $desktop) {
      @include padding(1, 1.5);
    }
  }
}
