article {
  display: block;
  // margin: 0 auto;
  // width: 80%;

  @media screen and (min-width: $desktop) {
    // max-width: #{1.5 * $max-width * $base-desktop + 'px'};
    // max-width: #{1.5 * $max-width + 'rem'};
  }

}
