a.button-cta-large,
button.button-cta-large {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3), 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: block;
  background-color: $vivid-blue;
  color: #fff;
  max-width: 350px;
  border-radius: 35px;
  @include line-height(2);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 20px;
  transition: all .3s;
  border: none;

  &:hover {
    background-color: lighten($vivid-blue, 5%);
    color: #fff;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-color: lighten($vivid-blue, 5%);
    outline: none;
  }

  &:active {
    background-color: $vivid-blue;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(0, 0, 0, 0.25);
    outline: none;
  }

  // Button spinner
  &.loading {
    // background-color: lighten($bwt-red, 10%);
    position: relative;
  }

  &.loading:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 40%;
    width: 0px;
    height: 0px;
    margin-top: -2px;
    border: 3px solid rgba(255,255,255,0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    animation: spin .6s infinite linear, grow .1s forwards ease-out;
  }
}

button.button-cta-large {
  @media screen and (max-width: $desktop) {
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    min-width: 250px;
  }
}

.shake {
  animation: shake 1s linear;
}
