/* Headings
   ========================================================================== */

// Headings Options
// [ h1: size (in rem), line height (* leading), margin top (* leading), margin bottom (* leading) ]
$headings: (
  h1: ($xxl, 2, 3, 1),
  h2: ($xl, 1.5, 2.5, .5),
  h3: ($l, 1, 2, .5),
  h4: ($m, 1, 1.5, .5),
  h5: ($s, 1, 2.5, .5),
  h6: ($xs, 1, 2.5, .5)
) !default;

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading} {
    @include font-size(nth($properties, 1));
    @include line-height(nth($properties, 2));
    @include margin-top(nth($properties, 3));
    @include margin-bottom(nth($properties, 4));
    font-weight: normal;
  }
}

@media screen and (min-width: $desktop) {
  $headings: (
    h1: ($d-xxxl, 4, 4, 1),
    h2: ($d-xxl, 2.5, 2.5, .5),
    h3: ($d-xl, 1.5, 2, .5),
    h4: ($d-l, 1.25, 1.5, .5),
    h5: ($d-m, 1, 2.5, .5),
    h6: ($d-s, 1, 2.5, .5)
  );
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import '../mixins/font-size';
  @import '../mixins/line-height';
  @import '../mixins/margin';

  @each $heading, $properties in $headings {
    #{$heading},
    .#{$heading} {
      @include font-size(nth($properties, 1));
      @include line-height(nth($properties, 2));
      @include margin-top(nth($properties, 3));
      @include margin-bottom(nth($properties, 4));
      font-weight: normal;
      letter-spacing: -0.01em;
    }
  }

}

h1,
.h1 {
  letter-spacing: -0.01em;
}

// Set margins between headings
h1 + h2 {
  @include margin-top(1);
}

h2 + h3,
h3 + h4,
h4 + h5 {
  @include margin-top(.5);
}

h5 + h6 {
  @include margin-top(-.5);
}

h6 {
  font-style: italic;
  font-weight: normal;
}

// Change headings font if a heading font is set
@if $font-headings != null {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-headings;
  }
}

hgroup {
  display: block;
}
