// Horizontal rule
$hr-style: line; // [ line / type ]
$hr-type-content: '***'; // [ '***' ]
$hr-type-char-spacing: .2em; // [ .2em ]
$hr-margin: 1;
$hr-margin-desktop: $hr-margin;
$hr-color: $pink-red;
$hr-width: 70; // [ 100 ] — In pixels, only for line style
$hr-height: 6; // [ 2 ] — In pixels, only for line style

hr {
  // @include margin-top($hr-margin);
  @include margin-bottom($hr-margin);

  box-sizing: content-box;
  border: 0;
  color: $hr-color;
  display: block;
  height: #{$leading + 'px'};
  height: #{$leading-rem + 'rem'};
  // margin-right: auto;
  // margin-left: auto;

  @media screen and (min-width: $desktop) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    height: #{$leading + 'px'};
    height: #{$leading-rem + 'rem'};
  }

  @if $hr-style == 'line' {
    background-size: 100% #{$leading + 'px'};
    background-size: 100% #{$leading-rem + 'rem'};
    background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});

    @if $hr-width == null {
      width: 100%;
    } @else {
      width: #{$hr-width + 'px'};
    }
  }

  @media screen and (min-width: $desktop) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;
    $hr-margin: $hr-margin-desktop;

    @if $hr-style == 'line' {
      background-size: 100% #{$leading + 'px'};
      background-size: 100% #{$leading-rem + 'rem'};
      background-image: linear-gradient(to bottom, transparent 1px, transparent #{ .5 * $leading - (.5 * $hr-height) + 'px'}, $hr-color #{ .5 * $leading - (.5 * $hr-height) + 'px'}, $hr-color #{ (.5 * $leading - (.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (.5 * $leading - (.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});
    }

  }

  @if $hr-style == 'type' {
    text-align: center;

    &:before {
      content: $hr-type-content;
      letter-spacing: $hr-type-char-spacing;
    }
  }
}
