blockquote {
  font-style: italic;
  padding-left: 1.4375rem;
  // font-size: 95%;

  @media screen and (min-width: $desktop) {
    padding-left: 2rem;
  }

}

cite {
  display: block;
  font-style: normal;
}

// Quotes
figure blockquote {
  @include padding(1, 0);

  @media screen and (min-width: $desktop) {

    @include padding(2, 0, 1);
    text-align: center;
  }

  p {
    @include font-size(1.6875);
    @include line-height(1.5);

    @media screen and (min-width: $desktop) {
      $leading: $leading-desktop;
      $leading-rem: $leading-rem-desktop;

      @import '../mixins/font-size';
      @import '../mixins/line-height';

      @include font-size(1.6875);
      @include line-height(1.5);
    }

  }

}
