// Float defaults
.alignLeft {
  @include align('auto', $desktop, 'left');

  &--always {
    @include align('left');
  }
}

.alignCenter {
  @include align('auto', $small-screen, 'center');

  &--always {
    @include align('center');
  }
}

.alignRight {
  @include align('auto', $desktop, 'right');

  &--always {
    @include align('right');
  }
}
