.group:after {
  content: "";
  display: table;
  clear: both;
}

.line-decoration {
  width: 60px;
  height: 3px;
  margin-right: 7px;
  background-color: $body-black;
  display: inline-block;
  margin-bottom: 4px;
}

.line-decoration--pink {
  // width: 90px;
  height: 2px;
  margin-left: 7px;
  background-color: $pink-red;
  display: inline-block;
  margin-bottom: 4px;
}

.list-features {
  // padding-left: 0;
}

.list-features li {
  list-style: none;
  padding-left: 32px;
  background: url(/assets/img/check.svg) no-repeat left top;
  background-size: 24px;
}

li.early-access, li.everything-from {
  background: none;
  padding-left: 0;
}

li.early-access::before {
  content: "🎉";
  padding-right: 10px;
  padding-left: 4px;
}

li.everything-from::before {
  content: "👉";
  padding-right: 10px;
  padding-left: 4px;
}

.max-width-300px {
  max-width: 300px;
}

.max-width-400px {
  max-width: 400px;
}

.max-width-500px {
  max-width: 500px;
}

.max-width-700px {
  max-width: 700px;
}

.max-width-1350px {
  max-width: 1350px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.bg-cl-green-50 {
  background-color: $green-50;
}

.bg-cl-green-100 {
  background-color: $green-100;
}

.bg-cl-grey-50 {
  background-color: $grey-50;
}

.bg-cl-grey-100 {
  background-color: $grey-100;
}

// Margins
$margin-bottom-slug: m-b;

@for $i from 0 through 6 {
  .#{$margin-bottom-slug}-#{$i} {
    @include margin-bottom($i);
  }
}

$margin-top-slug: m-t;

@for $i from 0 through 6 {
  .#{$margin-top-slug}-#{$i} {
    @include margin-top($i);
  }
}

$margin-bottom-mobile: m-b-m;

@for $i from 0 through 6 {
  .#{$margin-bottom-mobile}-#{$i} {
    @media screen and (max-width: $desktop) {
      @include margin-bottom($i);
    }
  }
}

$margin-top-mobile: m-t-m;

@for $i from 0 through 6 {
  .#{$margin-top-mobile}-#{$i} {
    @media screen and (max-width: $desktop) {
      @include margin-top($i);
    }
  }
}

.mobile-margin {
  @include mobile-margin(8%);
}

// Paddings
$padding-equal-slug: p-e;

@for $i from 1 through 6 {
  .#{$padding-equal-slug}-#{$i} {
    @include padding-equal($i);
  }
}

// Line-heights
$line-height-slug: l-h;

@for $i from 1 through 4 {
  .#{$line-height-slug}-#{$i} {
    @include line-height($i);
  }
}

.hidden {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.reviewer {
  display: flex;
  align-items: center;

  .reviewer-avatar {
    float: left;
    border-radius: 100%;
    width: 50px;
    margin-right: 10px;
  }

  .reviewer-name {
    line-height: 1.2rem;
  }
}
