<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

{%- if page.body-class -%}

<body class="{{ page.body-class }}">
  {%- else -%}

  <body>
    {%- endif -%}
    <div class="wrapper">
      <main class="page-content barebones" aria-label="Content">
          <h1>{{ page.title }}</h1>
          <hr>
          {{ content }}
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {%- if page.custom-js -%}
    {%- for script in page.custom-js -%}
    <script src="{{ script }}"></script>
    {%- endfor -%}
    {%- endif -%}

  </body>

  {%- include js.html -%}

</html>