---
layout: default
---

<article class="home">

    <!-- Hero -->
    <section class="course-intro m-b-6 m-b-m-4">

        <div class="hero group m-b-1">

            <div class="hero-image-wrapper group">
                <img srcset="/assets/img/matej-latin-photo.jpg,
                  /assets/img/matej-latin-photo@1-5x.jpg 1.5x,
                  /assets/img/matej-latin-photo@2x.jpg 2x" src="/assets/img/matej-latin-photo@1-5x.jpg"
                    alt="Matej Latin" class="hero-image">
            </div>

            <div class="hero-title">
                <!-- <strong class="f-sz-xs uppercase hero-author">An Online Course by Matej Latin</strong> -->
                <strong class="f-sz-xs uppercase hero-author">An Online Course by Matej Latin</strong>
                <h1 class="f-cl-pink-red m-t-0 m-t-m-0 m-b-m-0"><span class="hero-title-break">Get an awesome UX</span>
                    <span>design job</span></h1>
                <div class="group m-b-1">
                    <div class="hero-description f-sz-m">
                        <p class="m-b-1"><strong>Your next job switch just got easier</strong></p>
                        <p>
                            Everything you need for the next step in your design career — get more job interviews, more
                            job offers, learn how to find and pick the most UX-mature company, and increase your salary
                            by at least 30%.</p>
                    </div>
                    <div class="author">
                        <p class="f-sz-xs">
                            <strong>Matej Latin</strong>
                        </p>
                        <p class="f-sz-xs m-b-1">
                            Author of <a href="https://betterwebtype.com" target="_blank">Better Web Type</a>
                        </p>
                    </div>
                </div>
                <a href="#problem-statement" class="button-cta-large m-t-2">Learn more →</a>
                <!-- <a href="https://course.uxbuddy.co/register/ux-buddy/" class="button-cta-large m-t-2">Unlock instant access for $150 →</a>
        <p class="money-back">👍 30-Day money-back policy</p> -->
            </div>

        </div>

        <div class="hero-description">

        </div>

    </section>

    <!-- Problem statement -->
    <section class="problem-statement m-b-6 m-b-m-3" id="problem-statement">
        <div class="alignCenter max-width-500px m-b-2 mobile-margin">
            <h2>Are you stuck in your career?</h2>
            <hr>
            <div class="f-sz-m">
                <p>You want to do meaningful UX work and solve real problems for your users but your work mostly gets
                    judged by “how it looks.” Or maybe your work just isn’t valued by your coworkers.</p>
                <p class="m-t-1">
                    Nod your head if...
                </p>
            </div>
        </div>
        <div class="bg-cl-grey-50 group pains">
            <ul class="pain-points-job">
                <!-- <li class="pain-job-1">
          Most of your coworkers think that design, including UX design, is about “making things look pretty.”
        </li> -->
                <li class="pain-job-3">
                    <strong>You’re underpaid</strong>: You’ve been with your current employer for some time but only
                    received minor salary increases (if any at all).
                </li>
                <li class="pain-job-2">
                    <strong>You’re bored</strong>: Most of the time, you just do what your coworkers ask you to do —
                    you’re a wireframe monkey.
                </li>
                <li class="pain-job-hunt-2">
                    <strong>You’re stuck</strong>: you don’t know how to write the UX case studies for your portfolio
                    and what to put in them.
                </li>
                <!-- <li class="pain-job-4">
          You tried to establish a user-centred approach to solving problems but nobody listened.
        </li> -->
            </ul>
            <ul class="pain-points-job-hunt">
                <li class="pain-job-hunt-1">
                    <strong>You’re rejected</strong>: You’ve tried applying to other jobs but constantly get rejected
                    and only rarely get a reply or a job interview.
                </li>
                <li class="pain-job-hunt-3">
                    <strong>UX Maturity</strong>: You don’t know how to find out if the company you’re applying to is a
                    UX-mature company.
                </li>
                <li class="pain-job-hunt-4">
                    <strong>You freeze in job interviews</strong>: When you get a job interview, you don’t know how to
                    answer the questions to proceed to the next stage.
                </li>
            </ul>
        </div>
    </section>

    <!-- Better UX Job -->
    <section class="better-ux-job m-b-6 m-b-m-3">

        <div class="alignCenter max-width-500px mobile-margin m-b-3">
            <h2>It’s time for a better job</h2>
            <hr>
            <div class="f-sz-m">
                <p>
                    Unlike other UX portfolio courses, this one focuses on finding a better, higher-paying job with a
                    UX-mature company.
                </p>
            </div>
            <p class="m-t-1">UX designers need to work in an environment where they’re encouraged and trusted to do
                what’s best for the users. That’s only possible in UX-mature companies.</p>
        </div>

        <div class="better-job-properties mobile-margin group alignCenter">

            <div class="better-job-property">
                <div class="group">
                    <div class="better-job-property-title">
                        <div class="line-decoration--pink"></div>
                        <h3 class="h4">High UX maturity</h3>
                    </div>
                    <img srcset="/assets/img/ux-maturity.jpg,
                                              /assets/img/ux-maturity@1-5x.jpg 1.5x,
                                              /assets/img/ux-maturity@2x.jpg 2x" src="/assets/img/ux-maturity@1-5x.jpg"
                        alt="UX Maturity" class="m-b-1">
                </div>
                <p>
                    Companies with a high “UX maturity” understand the role of UX design and know that it’s fundamental
                    to their growth. UX design is not just a step in the process, it is <em>the main process</em> in the
                    company.
                </p>
            </div>

            <div class="better-job-property">
                <img srcset="/assets/img/ux-culture.jpg,
                                            /assets/img/ux-culture@1-5x.jpg 1.5x,
                                            /assets/img/ux-culture@2x.jpg 2x" src="/assets/img/ux-culture@1-5x.jpg"
                    alt="UX Culture" class="m-b-1">
                <div class="line-decoration--pink"> </div>
                <h3 class="h4">Strong &amp; collaborative UX culture</h3>
                <p>
                    You’ll be valued by your colleagues, everyone will want to collaborate with you and contribute to
                    improving the user experience, you’ll be at the center of these cross-functional teams.
                </p>
            </div>

            <div class="better-job-property">
                <div class="better-job-property-title">
                    <div class="line-decoration--pink"> </div>
                    <h3 class="h4">Solving user problems</h3>
                </div>
                <img srcset="/assets/img/user-problems.jpg,
                                            /assets/img/user-problems@1-5x.jpg 1.5x,
                                            /assets/img/user-problems@2x.jpg 2x"
                    src="/assets/img/user-problems@1-5x.jpg" alt="User problems" class="m-b-1">
                <p>
                    You’ll do UX research before you even draw a pixel in Figma. You’ll interact with users on a weekly
                    (if not daily) basis. You’ll see how your work helps them solve their problems and draw a smile on
                    their faces.
                </p>
            </div>

        </div>

    </section>

    <!-- Solution -->
    <section class="solution-statement mobile-margin">
        <h2>
            <span class="f-cl-pink-red">This course won’t just teach you how to create your UX portfolio,</span>
            <span class="">it’ll help you get a job at a UX-mature company where you’ll do the best work of your
                life.</span>
        </h2>
        <hr>
        <p class="f-sz-m">
            The UX Buddy course does that in 5 steps.
        </p>
    </section>

    <!-- Five steps -->
    <section class="five-steps group m-b-6 m-b-m-3 mobile-margin">
        <div class="five-steps-toc m-b-m-2">

            <div class="five-steps-toc-content">
                <h3 class="h4 m-b-1">5 steps to a better UX job</h3>

                <div class="toc-step step-1 active">
                    <a href="#step-1">
                        <div>
                            <span>01</span>
                            <div class="line-decoration--pink"></div>
                        </div>
                        <p>Learn to recognize the UX-mature companies (and avoid the immature ones)</p>
                    </a>
                </div>

                <div class="toc-step step-2">
                    <a href="#step-2">
                        <div>
                            <span>02</span>
                            <div class="line-decoration--pink"></div>
                        </div>
                        <p>Learn how to create a portfolio that will get you job interviews</p>
                    </a>
                </div>

                <div class="toc-step step-3">
                    <a href="#step-3">
                        <div>
                            <span>03</span>
                            <div class="line-decoration--pink"></div>
                        </div>
                        <p>Learn how to write a resumé that recruiters will notice</p>
                    </a>
                </div>

                <div class="toc-step step-4">
                    <a href="#step-4">
                        <div>
                            <span>04</span>
                            <div class="line-decoration--pink"></div>
                        </div>
                        <p>Learn how to ace the design job interviews</p>
                    </a>
                </div>

                <div class="toc-step step-5">
                    <a href="#step-5">
                        <div>
                            <span>05</span>
                            <div class="line-decoration--pink"></div>
                        </div>
                        <p>Get feedback and support from the instructor and the community</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="five-steps-details">
            <div class="step-1-details step-details m-b-m-2" id="step-1">
                <!-- <span>01</span> -->
                <div>
                    <img srcset="/assets/img/01-recognize.jpg,
                                    /assets/img/01-recognize@1-5x.jpg 1.5x,
                                    /assets/img/01-recognize@2x.jpg 2x" src="/assets/img/01-recognize@1-5x.jpg"
                        alt="Step 1 — Recognize good UX positions" class="m-b-1">
                    <h4 class="h5 max-width-500px m-t-0 alignCenter">Learn how to recognise the signs of UX maturity
                        (and immaturity)</h4>
                    <p class="max-width-500px alignCenter">
                        Identify the red flags of UX-immature companies, find out what questions you should ask during
                        the job interviews to recognise the UX-mature ones.</p>
                    <p class="max-width-500px alignCenter m-t-1"><strong>Also included</strong>: </p>
                    <ul class="max-width-500px alignCenter m-t-1">
                        <li><em>UX maturity evaluation tool</em> — identify the most UX-mature company to join</li>
                        <li><em>Self-evaluation tool for your skills</em> — what’s your seniority and what jobs should
                            you apply to?</li>
                    </ul>
                </div>
            </div>

            <div class="step-2-details step-details m-b-m-2" id="step-2">
                <div>
                    <!-- <span>02</span> -->
                    <img srcset="/assets/img/02-portfolio.jpg,
                        /assets/img/02-portfolio@1-5x.jpg 1.5x,
                        /assets/img/02-portfolio@2x.jpg 2x" src="/assets/img/02-portfolio@1-5x.jpg"
                        alt="Step 2 — Design your portfolio" class="">
                    <h4 class="h5 max-width-500px m-t-0 alignCenter">Write impactful, concise case studies that present
                        you as a capable designer</h4>
                    <p class="max-width-500px alignCenter">
                        Learn what works and what doesn’t from other designer’s portfolio teardowns, use the UX Buddy
                        templates and the STAR approach to create a portfolio full of content that UX managers look for.
                    </p>
                    <p class="max-width-500px alignCenter m-t-1"><strong>Also included</strong>: </p>
                    <ul class="max-width-500px alignCenter m-t-1">
                        <li><em>UX Case study template</em> — don’t start from scratch, start with the STAR framework.
                        </li>
                        <li><em>Portfolio template (Google Slides)</em> — present your work with this refined template.
                        </li>
                        <li><em>Career Management Document (CMD)</em> — keep track of your best work to include in your
                            portfolio.</li>
                    </ul>
                </div>
            </div>

            <div class="step-3-details step-details m-b-m-2" id="step-3">
                <div>
                    <!-- <span>03</span> -->
                    <img srcset="/assets/img/03-resume.jpg,
                                  /assets/img/03-resume@1-5x.jpg 1.5x,
                                  /assets/img/03-resume@2x.jpg 2x" src="/assets/img/03-resume@1-5x.jpg"
                        alt="Step 3 — Resume and cover letter" class="">
                    <h4 class="h5 max-width-500px m-t-0 alignCenter">Strike a perfect balance between the amount of
                        content and aesthetics</h4>
                    <p class="max-width-500px alignCenter">
                        Do you want to get rejected less and ger more job interviews? You need a better resumé. You only
                        get a few seconds of the recruiter’s attention so you need to stand out as a competent designer.
                    </p>
                    <p class="max-width-500px alignCenter m-t-1"><strong>Also included</strong>: </p>
                    <ul class="max-width-500px alignCenter m-t-1">
                        <li><em>Resumé (CV) template</em> — everything you need for a well crafted resumé that stands
                            out.</li>
                        <li><em>Cover letter template</em> — writing good cover letters is tricky, this template makes
                            it super easy.</li>
                    </ul>
                </div>
            </div>

            <div class="step-4-details step-details m-b-m-2" id="step-4">
                <div>
                    <!-- <span>04</span> -->
                    <img srcset="/assets/img/04-interview.jpg,
                                  /assets/img/04-interview@1-5x.jpg 1.5x,
                                  /assets/img/04-interview@2x.jpg 2x" src="/assets/img/04-interview@1-5x.jpg"
                        alt="Step 4 — Interviewing" class="">
                    <h4 class="h5 max-width-500px m-t-0 alignCenter">Be prepared, present yourself and your story, be
                        memorable</h4>
                    <p class="max-width-500px alignCenter">
                        The key to acing the design job interviews is to be prepared. Practice your answers to common
                        questions, don’t freeze when you’re asked difficult questions, and learn how to solve any design
                        task in a way that your interviewers want to see.
                    </p>
                    <p class="max-width-500px alignCenter m-t-1"><strong>Also included</strong>: </p>
                    <ul class="max-width-500px alignCenter m-t-1">
                        <li><em>Interviewing journal</em> — Reflect on your past interviews to maximise your learnings
                            and improve for the future interviews.</li>
                        <li><em>Job interview kit</em> — Prepare your answers to the most common questions and learn how
                            to answer the trickiest questions.</li>
                        <li><em>Questions to ask</em> — Ask these questions to find out if a company is UX-mature.</li>
                        <li><em>Design tasks for practice</em> — Practice solving design tasks and whiteboard
                            challenges.</li>
                        <li><em>STAR framework for solving design tasks</em> — A 4-step process to help you solve any
                            design task.</li>
                    </ul>
                </div>
            </div>

            <div class="step-5-details step-details" id="step-5">
                <div>
                    <!-- <span>05</span> -->
                    <img srcset="/assets/img/05-feedback.jpg,
                                  /assets/img/05-feedback@1-5x.jpg 1.5x,
                                  /assets/img/05-feedback@2x.jpg 2x" src="/assets/img/05-feedback@1-5x.jpg"
                        alt="Step 5 — Feedback" class="">
                    <h4 class="h5 max-width-500px m-t-0 alignCenter">Get feedback on your portfolio and support when it
                        gets tough</h4>
                    <p class="max-width-500px alignCenter">
                        Job switching and hunting is hard, demotivating and stressful so a lot of designers give up. The
                        UX Buddy community (and the instructor of the course) will give you feedback on your portfolio,
                        cover letter and resumé, and support you to keep going when things get tough.
                    </p>
                    <p class="max-width-500px alignCenter m-t-1"><strong>Also included</strong>: </p>
                    <ul class="max-width-500px alignCenter m-t-1">
                        <li><em>1:1 feedback and support from the instructor</em> — email or Zoom calls, depending on
                            the plan you purchase.</li>
                        <li><em>Slack community access</em> — get feedback and support from other students of the
                            course.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- Five steps end -->

    <div class="alignCenter max-width-500px m-b-2 mobile-margin">
        <h2>Sneak peek</h2>
        <hr>
        <div class="f-sz-m">
            <p class="m-b-1">
                Here’s a sneak peek of the course that’ll help you land your dream job.
            </p>
        </div>
    </div>

    <img srcset="/assets/img/uxb-sneak-peek.png,
            /assets/img/uxb-sneak-peek.png 1.5x,
            /assets/img/uxb-sneak-peek.png 2x" src="/assets/img/uxb-sneak-peek.png" alt="UX Buddy course sneek peak"
        class="m-b-1 alignCenter">

    <!-- About author -->
    <section class="about-author mobile-margin" id="about-author">
        <div class="alignCenter max-width-500px">
            <h2>Who am I, why should you listen to me?</h2>
            <hr>
        </div>
        <div class="about-author-content alignCenter m-b-6 m-b-m-3">
            <div class="about-author-image m-b-1">
                <img srcset="/assets/img/css-meetup.jpg,
                        /assets/img/css-meetup@1-5x.jpg 1.5x,
                        /assets/img/css-meetup@2x.jpg 2x" src="/assets/img/css-meetup@1-5x.jpg"
                    alt="Matej Latin giving a talk on a CSS meetup" class="m-b-1">
                <p class="f-sz-xs">
                    <strong>Matej Latin</strong>
                </p>
                <p class="f-sz-xs">
                    Author of <a href="https://betterwebtype.com/web-typography-book/?ref=ux-buddy">Better Web Type</a>.
                </p>
                <p class="m-t-1">My work has been featured in</p>
                <img srcset="/assets/img/featured.jpg,
        /assets/img/featured@1-5x.jpg 1.5x,
        /assets/img/featured@2x.jpg 2x" src="/assets/img/featured@1-5x.jpg"
                    alt="Smashing Magazine, CSS Tricks,, Net magazine, Fast Company" class="m-b-1">
                <div class="stat">
                    <p class="stat-big">200+</p>
                    <p class="stat-label">Designers interviewed</p>
                </div>
                <div class="stat m-t-1">
                    <p class="stat-big">1,000+</p>
                    <p class="stat-label">Portfolios reviewed</p>
                </div>
            </div>
            <p class="f-sz-m m-b-1">Hello! 👋 I’m Matej, a self-taught designer who went from a college dropout to a
                design leader earning a 6-figure salary.</p>
            <p class="">I was stuck in my career many times and had to learn by trial and error. The first few jobs
                sucked. I wanted to do UX design but had to design slide decks and business cards for executives. So I
                switched jobs until I found UX-mature companies. I had no formal education in design but that didn’t
                stop me from getting the lead design and managerial positions at Big Tech companies. I hired and built
                my own design teams, created hiring processes for designers, interviewed more than 200 designers, and
                reviewed more than 1,000 portfolios. I went from living month-to-month to earning a 6-figure salary,
                meaning I more than tripled my original salary.</p>
            <img srcset="/assets/img/salary-adjustments-lp.jpg,
        /assets/img/salary-adjustments-lp.jpg 1.5x,
        /assets/img/salary-adjustments-lp.jpg 2x" src="/assets/img/salary-adjustments-lp.jpg"
                alt="Chart showing salary adjustments over the years" class="m-b-1 alignCenter m-t-2">
            <input type="checkbox" class="read-more-state" id="post-2" />
            <label for="post-2" class="read-more-trigger"></label>
            <div class="read-more-wrap">
                <p class="m-b-1 read-more-target">All that knowledge and experience led me to create this course — to
                    help you build and elevate your design career faster than I did. Without UX Buddy, it can take you
                    more than 5 years to get a high-paying design job with a UX-mature company. <em>With UX Buddy</em>,
                    you can get there with your next job switch.</p>
            </div>
        </div>
    </section>

    <!-- Buy section -->
    <section class="subscribe mobile-margin group m-b-3 m-b-m-3" id="subscribe">
        <div class="alignCenter max-width-500px m-b-2">
            <!-- <h2>Join the waitlist, get the early bird price</h2> -->
            <h2>The easier, faster way to get a better job in UX</h2>
            <!-- <h2>Land your dream UX design job</h2> -->
            <!-- <h2>Missed the deadline?</h2> -->
            <hr>
            <p class="f-sz-m">
                <!-- Registrations start Feb 24, 2025. Join the waitlist and don’t miss out! Only 23 seats will be available. -->
                Registrations are open! 🎉 Grab your seat before they're sold out!
                <!-- Registrations closed on Dec 15, 2024. Next round of registrations opens in February '25. -->
            </p>
        </div>

        <div class="alignCenter m-b-m-2 get-access" id="get-access">

            <div class="bg-cl-green-50 m-b-1 buy-option">
                <div class="p-e-1">
                    <!-- <p class="alignCenter textAlignCenter uppercase">Find and get your dream UX design job</p> -->
                    <!-- <h3 class="h4 m-t-1 alignCenter textAlignCenter m-b-1">Sign up for early access to:</h3> -->
                    <h3 class="h4 m-t-1 alignCenter textAlignCenter m-b-1">UX Buddy Course + Mentoring <span
                            class="badge-new">New</span></h3>
                    <p class="alignCenter m-b-1 textAlignCenter max-width-300px"><em>Recommended if you want to find a
                            new job in the next 1-2 months</em></p>
                    <ul class="max-width-400px alignCenter max list-features">
                        <li class="everything-from">Everything from <em>UX Buddy Course</em> +</li>
                        <li>Three 60 minutes 1-1 Zoom calls with the instructor (worth $450)</li>
                        <li>Personalised career advice, portfolio feedback, mentoring, and support</li>
                        <!-- <li>Grooup check-in calls with Matej (the author)</li> -->
                        <!-- <li class="early-access">Early bird price (save $100)*</li> -->
                        <!-- <li>A chance to be featured as a success story</li> -->
                    </ul>
                </div>
                <div class="option-cta bg-cl-green-100 textAlignCenter p-e-1">
                    <!-- <p class="l-h-3 alignCenter"><strong class="f-sz-m">for <del class="f-cl-body-black">$595</del></strong> <span class="f-cl-pink-red buy-option-price early">$495</span></p> -->
                    <p class="l-h-3 alignCenter"><span class="f-cl-pink-red buy-option-price early">$595</span></p>
                    <p class="m-b-1 alignCenter">Single payment, lifetime access</p>
                    <!-- <p class="m-b-1 alignCenter"><strong>Claim your early access price now!</strong></p> -->
                    <!-- <p class="m-b-1 alignCenter">Join the wait list to be notified when registrations open.</p> -->
                    <!-- <p class="m-b-1 alignCenter max-width-300px">3 seats will open up for registration on February 24, 2025!</p> -->
                    <p class="m-b-1 alignCenter max-width-300px"><strong>1/3 seats left</strong></p>
                    <!-- <p class="m-b-1 alignCenter max-width-300px"><strong>Sold out</strong></p>  -->
                    <!-- <a href="javascript:void(0)" id="btnJoin" class="btnJoin button-cta-large alignCenter--always m-b-1">Join the waitlist →</a> -->
                    <!-- <a href="	https://course.uxbuddy.co/register/ux-buddy-course-mentoring?coupon=early-bird-discount-mentoring" class="button-cta-large alignCenter--always m-b-1">Get instant access →</a> -->
                    <a href="	https://course.uxbuddy.co/register/ux-buddy-course-mentoring"
                        class="button-cta-large alignCenter--always m-b-1">Get instant access →</a>
                    <!-- <p class="m-b-1 alignCenter">Registrations end <strong><span id="timer-m"></span></strong>!</p> -->
                    <!-- <p class="m-b-1 alignCenter">Registrations ended on Dec 13, 2023, join the waitlist to learn when the next round opens.</p> -->
                    <!-- <p class="m-b-1 alignCenter">More seats will be available in December 2024.</p> -->
                    <!-- <p class="m-b-1 alignCenter">2 seats will be available on Dec 9, 2024.</p> -->
                    <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 30-Day money-back
                        policy</p>
                    <!-- <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 No credit card required.</p> -->
                    <!-- <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 No credit card required, you’re just joining a mailing list to get notified.</p> -->
                </div>
            </div>

            <div class="bg-cl-green-50 m-b-1 buy-option">
                <div class="p-e-1">
                    <!-- <p class="alignCenter textAlignCenter uppercase">Find and get your dream UX design job</p> -->
                    <!-- <h3 class="h4 m-t-1 alignCenter textAlignCenter m-b-1">Sign up for early access to:</h3> -->
                    <h3 class="h4 m-t-1 alignCenter textAlignCenter m-b-1">UX Buddy Course</h3>
                    <p class="alignCenter m-b-1 textAlignCenter max-width-300px"><em>Recommended if you want to find a
                            new job in the next 1-4 months</em></p>
                    <ul class="max-width-400px alignCenter max list-features">
                        <li>Lifetime access and future updates</li>
                        <li>Self-paced course with 50+ lessons</li>
                        <li>UX maturity evaluation tools</li>
                        <li>Case study and portfolio templates</li>
                        <li>Resumé and cover letter templates</li>
                        <li>Job interview questions examples (with&nbsp;answers)</li>
                        <li>Whiteboard challenges for&nbsp;practice</li>
                        <li>Community access</li>
                        <li>1-1 instructor feedback (email) <span class="badge-new">New</span></li>
                        <!-- <li>Grooup check-in calls with Matej (the author)</li> -->
                        <!-- <li class="early-access">Early bird price (save $50)*</li> -->
                        <!-- <li>A chance to be featured as a success story</li> -->
                    </ul>
                </div>
                <div class="option-cta bg-cl-green-100 textAlignCenter p-e-1">
                    <!-- <p class="l-h-3 alignCenter"><span class="f-cl-pink-red buy-option-price early">$150</span></p> -->
                    <!-- <p class="l-h-3 alignCenter"><strong class="f-sz-m">for <del class="f-cl-body-black">$199</del></strong> <span class="f-cl-pink-red buy-option-price early">$149</span></p> -->
                    <p class="l-h-3 alignCenter"><span class="f-cl-pink-red buy-option-price early">$199</span></p>
                    <!-- <p class="m-b-1 alignCenter">Before it officially launches in <span id="timer"></span>!</p> -->
                    <!-- <p class="m-b-1 alignCenter">Early bird price — Single payment, lifetime access</p> -->
                    <p class="m-b-1 alignCenter">Single payment, lifetime access</p>
                    <!-- <p class="m-b-1 alignCenter"><strong>Claim your early access price now!</strong></p> -->
                    <!-- <p class="m-b-1 alignCenter">Join the wait list to be notified when registrations open.</p> -->
                    <p class="m-b-1 alignCenter max-width-300px"><strong>13/20 seats left</strong></p>
                    <!-- <p class="m-b-1 alignCenter max-width-300px"><strong>Sold out</strong></p> -->
                    <!-- <p class="m-b-1 alignCenter max-width-300px">20 seats will open up for registration on February 24, 2025!</p> -->
                    <!-- <a href="javascript:void(0)" id="btnJoin" class="btnJoin button-cta-large alignCenter--always m-b-1">Join the waitlist →</a> -->
                    <a href="https://course.uxbuddy.co/register/ux-buddy" class="button-cta-large alignCenter--always m-b-1">Get instant access →</a>
                    <!-- <a href="https://course.uxbuddy.co/register/ux-buddy" class="button-cta-large alignCenter--always m-b-1">Get instant access →</a> -->
                    <!-- <p class="m-b-1 alignCenter">Registrations end <strong><span id="timer-c"></span></strong>!</p> -->
                    <!-- <p class="m-b-1 alignCenter">More seats will be available in December, 2024.</p> -->
                    <!-- <p class="m-b-1 alignCenter">10 seats will be available on Dec 9, 2024.</p> -->
                    <!-- <p class="m-b-1 alignCenter">Early bird pricing ends tomorrow!</p> -->
                    <!-- <p class="m-b-1 alignCenter">Registrations end on <strong>tomorrow</strong>!</p> -->
                    <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 30-Day money-back policy</p>
                    <!-- <p class="textAlignCenter f-sz-xs alignCenter--always"><strong>Next enrolment starts in November '22!</strong><br>🔥 350 people already signed up.</p> -->
                    <!-- <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 No credit card required</p> -->
                </div>
            </div>
            <!-- <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">👍 <a href="#money-back">30-Day money-back policy</a></p> -->
        </div>
        <!-- <p class="textAlignCenter f-sz-xs charge-explanation alignCenter--always">* Only the first 10 customers will receive the Early Bird pricing.</p> -->

        <!-- <div class="buy-option">
      <div class="bg-cl-grey-50">
        <div class="p-e-1">
          <h3 class="h5 m-t-0">Official launch</h3>
          <p>All the same stuff</p>
        </div>
        <div class="option-cta bg-cl-grey-100 textAlignCenter p-e-1">
          <p class="l-h-3"><strong class="f-sz-m">for</strong> <span class="f-cl-pink-red buy-option-price">$195</span></p>
          <p>when it launches officially</p>
        </div>
      </div>
    </div> -->

    </section>

    <!-- Sign up form -->
    <div class="sign-up-form-wrap hidden">
        <div class="sign-up-form">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 29L14.75 15.25M28.5 1.5L14.75 15.25M14.75 15.25L28.5 29M14.75 15.25L1 1.5" stroke="#121E49"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <div class="max-width-500px mobile-margin">
                <p class="f-sz-m alignCenter--always textAlignCenter m-b-1"><strong>Awesome! 🎉 I’m glad you’re on
                        board<span class="first-name capitalize"></span>.</strong></p>
                <!-- <p class="alignCenter--always textAlignCenter m-b-2 m-b-m-0">
          Please <span class="msg-alt">fill in</span> the details below and you’ll be among the first to know when more seats are available.
        </p> -->
                <p class="alignCenter--always textAlignCenter m-b-2 m-b-m-0">
                    <span class="msg-alt">Fill in</span> the details below and you’ll be among the first to get notified when registrations open.
                </p>
                <form class="group sign-up" action="https://app.convertkit.com/forms/5215285/subscriptions"
                    method="post" data-sv-form="5215285" data-uid="6a2b170bff" data-format="inline" data-version="5"
                    data-options='{"settings":{"after_subscribe":{"action":"redirect","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":"https://uxbuddy.co/almost-finished/"},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
                    min-width="400 500 600 700 800">
                    <div data-style="clean">
                        <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
                        <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
                            <div id="mergeTable" class="mergeTable cf">
                                <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                                    <div class="field-group">
                                        <div class="group">
                                            <div class="form-name formkit-field">
                                                <label for="FNAME">First name</label>
                                                <input id="FNAME" type="text" autocapitalize autocorrect="off"
                                                    name="fields[first_name]" size="25" value=""
                                                    placeholder="e.g. Gordon" class="formkit-input" required>
                                            </div>
                                        </div>
                                        <div class="group m-b-2 m-b-m-1">
                                            <label for="EMAIL">Email address</label>
                                            <input id="EMAIL" class="formkit-input" type="email" autocapitalize="off"
                                                autocorrect="off" name="email_address" size="25" value=""
                                                placeholder="e.g. gordon@gmail.com" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="submit_container clear cf alignCenter">
                                <button id="myButton" data-element="submit"
                                    class="button-cta-large formkit-submit formkit-submit alignCenter--always"
                                    name="submit">Join the waitlist →</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- REVIEWS -->
    <section class="reviews group alignCenter">
        <div class="alignCenter max-width-500px m-b-2 mobile-margin">
            <h2>This course pays for itself</h2>
            <hr>
            <div class="f-sz-m">
                <p>The students of this course have increased their salary by an average of 30%. In other words, you’ll
                    get a massive return on your investment.</p>
            </div>
        </div>
        <div class="reviews-container">
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">Take the time and do the work. The outcome will amaze you.</h4>
                <p class="">
                    By taking this course and talking to Matej, I managed to land a fantastic job in my preferred field, solidifying my expertise. This course made me more confident in the first place and aware of how to look for UX maturity or how to research companies before sending away an application.

The course’s STAR framework helped me organise my portfolio and prepare for the interview. My interviewers mentioned that they liked the way I presented my work, exposing earlier steps and even mistakes. I later realised I was using the STAR method to explain my work, which Matej advocates and teaches.

Lastly, please understand this is not a quick fix, if you want to do it right and take your career seriously, take the time and do the work. The outcome will amaze you.
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/tanjadebie.jpeg,
              /assets/img/tanjadebie.jpeg 1.5x,
              /assets/img/tanjadebie.jpeg 2x" src="/assets/img/tanjadebie.jpeg" alt="Tanja de Bie - van Leeuwen" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Tanja de Bie - van Leeuwen</strong> (<a href="https://www.linkedin.com/in/tanjadebie/">@tanjadebie</a>)</p>
                </div>
            </div>
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">A small investment in your career that is well worth it</h4>
                <p class="">
                    After losing my job before Christmas, I didn’t want to rush around like a headless chicken updating my
                    CV and portfolio and getting nowhere. I needed expert guidance and feedback, but didn’t want to spend a
                    fortune on a UX career coach. Matejs’ UX Buddy course helped me set my career goals, with templates and
                    examples of CV’s and case studies from someone who’s been there, has hired, been fired and has learnt
                    the ways of recruiters to help you navigate the best way to present yourself.
                </p>
                <p class="m-t-1">As a mentor, he’s always available on the private UX Buddy Slack channel to give in-depth feedback and
                    advice within a day or so, and also hear from the growing community too!</p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/andyfuller.jpeg,
              /assets/img/andyfuller.jpeg 1.5x,
              /assets/img/andyfuller.jpeg 2x" src="/assets/img/andyfuller.jpeg" alt="Andy Fuller" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Andy Fuller</strong> (<a href="https://www.linkedin.com/in/designbull/">@designbull</a>)<br></p>
                </div>
            </div>
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">Just what I needed</h4>
                <p class="">
                    Speaking with Matej gave me the clarity to identify what matters to me long term and what is going to take to reach those goals.</p>

<p>He’s a great listener and provided me with a very sobering outside perspective on a particularly pivotal point in my career.</p>

<p>If you’re looking for guidance from someone who’s been on the trenches of tech, I can’t recommend enough that you talk with him.</p>
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/ed-orozco.jpeg,
              /assets/img/ed-orozco.jpeg 1.5x,
              /assets/img/ed-orozco.jpeg 2x" src="/assets/img/ed-orozco.jpeg" alt="Ed Orozco" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Ed Orozco</strong> (<a href="https://x.com/eddzio">@eddzio</a>)<br></p>
                </div>
            </div>
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">Don’t miss this course if you want to prepare for job interviews</h4>
                <p class="">
                    I got access to UX Buddy right when I was already in the middle of interviewing at various companies.
                    It’s been a great help to prepare myself and build confidence — having a solid foundation of questions
                    to be prepared for but also questions you might want to ask companies was the right help at the right
                    time.
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/jan-six.webp,
              /assets/img/jan-six.webp 1.5x,
              /assets/img/jan-six.webp 2x" src="/assets/img/jan-six.webp" alt="Jan Six" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Jan Six</strong> (<a href="https://twitter.com/six7">@six7</a>)<br> Got
                        hired by GitHub</p>
                </div>
            </div>
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">This will seriously help you get started and be prepared</h4>
                <p class="">
                    This course offers lots of valuable insights that I had no idea of, but the most valuable part for me,
                    is it manages the content in a very clear way which helps move forward, step by step. I landed my next
                    job recently after preparing for more than three months, looking back it still feels painful, but this
                    course has helped me to stay on the track. A huge thank you to Matej!
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/generic-user.png,
              /assets/img/generic-user.png 1.5x,
              /assets/img/generic-user.png 2x" src="/assets/img/generic-user.png" alt="Lu C" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Lu C</strong></p>
                </div>
            </div>

            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">Inspiring!</h4>
                <p class="">
                    The course is easy to follow and the develops smoothly. Sharing the personal experience is nice – makes it feel more human. Many of the described situations are really relatable and resonate well with me. Seems like these kinds of challenges designers face are truly universal.
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/kenjuks.png,
              /assets/img/kenjuks.png 1.5x,
              /assets/img/kenjuks.png 2x" src="/assets/img/kenjuks.png" alt="Ken Juks"
                        class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Ken Juks</strong> (<a
                            href="https://twitter.com/ken_juks">@ken_juks</a>)</p>
                </div>
            </div>

            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/4-stars.png,
            /assets/img/4-stars.png 1.5x,
            /assets/img/4-stars.png 2x" src="/assets/img/4-stars.png" alt="4 stars" class="">
                <h4 class="m-t-1 h5">Thoughful and well rounded</h4>
                <p class="">
                    This course teaches more than just UX. Deciding what workplace to choose, and how to decide its
                    maturity. The tasks which you do between lessons are great and help you gain insight into the “how and
                    why.”
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/vladimirs.jpeg,
              /assets/img/vladimirs.jpeg 1.5x,
              /assets/img/vladimirs.jpeg 2x" src="/assets/img/vladimirs.jpeg" alt="Vladimirs Nordholm"
                        class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Vladimirs Nordholm</strong> (<a
                            href="https://twitter.com/vladdeSV">@vladdeSV</a>)</p>
                </div>
            </div>
            
            <div class="review mobile-margin m-b-2">
                <!-- <h2>Reviews</h2>
                  <hr> -->
                <img srcset="/assets/img/5-stars.png,
            /assets/img/5-stars.png 1.5x,
            /assets/img/5-stars.png 2x" src="/assets/img/5-stars.png" alt="5 stars" class="">
                <h4 class="m-t-1 h5">Very helpful content!</h4>
                <p class="">
                    I’m a UX researcher transitioning to UX designer. I wanted information to help me find and bridge the
                    gaps in skill and knowledge. This has been an excellent resource. It has a clean and easy to read layout
                    and a friendly yet concise tone.
                </p>
                <div class="reviewer m-t-1">
                    <img srcset="/assets/img/lanita.png,
              /assets/img/lanita.png 1.5x,
              /assets/img/lanita.png 2x" src="/assets/img/lanita.png" alt="Lanita McCullerses" class="reviewer-avatar">
                    <p class="reviewer-name"><strong>Lanita McCullerses</strong> (<a
                            href="https://twitter.com/vladdeSV">@vladdeSV</a>)</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQs -->
    <section class="faq m-t-4">
        <div class="alignCenter max-width-500px mobile-margin m-b-2">
            <h2>FAQs</h2>
            <hr>
            <p class="f-sz-m">
                Here’s what a lot of people ask about UX Buddy. If your question isn’t answered here, <a
                    href="mailto:hello@matejlatin.com?subject=UX%20Buddy%20question">send me an email</a>.
            </p>
        </div>

        <div class="accordion">
            <div class="accordion-tabs">
                <div class="accordion-tab">
                    <input type="checkbox" id="faq1">
                    <label class="accordion-tab-label" for="faq1">I'm a junior designer, is this course for me?</label>
                    <div class="accordion-tab-content">
                        <p>
                            Yes! I would kill to have all this knowledge when I was a junior designer. With this course,
                            you could get to do amazing design work in your very next job. Without it, it could take you
                            years. This is not just a UX portfolio course, it's a course to help you design your design
                            career. It's like having a mentor telling you what to do at different parts of your career.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="faq2">
                    <label class="accordion-tab-label" for="faq2">I'm a senior designer, is this course for me?</label>
                    <div class="accordion-tab-content">
                        <p>
                            Yes! A lot of senior designers are stuck in their careers right now. Making a job switch
                            doesn't get easier with higher seniority, maybe it even gets harder because the expectations
                            to perform well in job interviews and to have a top-notch portfolio are higher. If you're
                            looking for a career move but feel stuck, this course is for you.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="faq3">
                    <label class="accordion-tab-label" for="faq3">I'm a design manager, is this course for me?</label>
                    <div class="accordion-tab-content">
                        <p>
                            Not yet, but I'll add more content in the future to help managers make the right career
                            moves.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="faq4">
                    <label class="accordion-tab-label" for="faq4">I'm not a designer, is this course for me?</label>
                    <div class="accordion-tab-content">
                        <p>
                            I'm sure you could learn from it, but the course is dedicated to UX and product designers.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="chck1">
                    <label class="accordion-tab-label" for="chck1">What are the requirements for this course?</label>
                    <div class="accordion-tab-content">
                        <p>
                            There are no requirements other than being a UX or Product Designer. You’ll get the most out
                            of this course if you’re serious about finding a new, better UX job in the next couple of
                            months. It also helps if you already have some material for the case studies prepared.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="chck1b">
                    <label class="accordion-tab-label" for="chck1b">Can I do the lessons when I have time?</label>
                    <div class="accordion-tab-content">
                        <p>
                            Yes, this is a self-paced course, you can take as long as you want to complete it. I think
                            it’s possible to complete it in a couple weeks if you spend 30 minutes per day.
                        </p>
                    </div>
                </div>

                <!-- <div class="accordion-tab">
          <input type="checkbox" id="chck1c">
          <label class="accordion-tab-label" for="chck1c">Will my access be limited for a period of time or is it lifetime access?</label>
          <div class="accordion-tab-content">
            <p>
              You get a lifetime access to the course and all its future updates.
            </p>
          </div>
        </div> -->

                <div class="accordion-tab">
                    <input type="checkbox" id="chck4">
                    <label class="accordion-tab-label" for="chck4">Is this a video course?</label>
                    <div class="accordion-tab-content">
                        <p>
                            No. Video courses can be quite hard to follow, so I decided to present the content of the
                            course in a format that
                            allows the students to study it at their own pace. The course is a combination of written
                            lessons, quizzes,
                            self-evaluations, exercises and getting feedback from peers.
                        </p>
                    </div>
                </div>

                <!-- <div class="accordion-tab">
          <input type="checkbox" id="chck3">
          <label class="accordion-tab-label" for="chck3">Is this course for product designers too?</label>
          <div class="accordion-tab-content">
            <p>
              Yes. Companies use different titles inconsistently—a UX designer role at one company may be called ‘Product Designer’ at another. I’m a product designer and as the term ‘product design’ is wider than ‘UX design’ this course then covers both roles.
            </p>
          </div>
        </div> -->

                <!-- <div class="accordion-tab">
          <input type="checkbox" id="chck3b">
          <label class="accordion-tab-label" for="chck3b">Is this course for freelancers too?</label>
          <div class="accordion-tab-content">
            <p>
              From my experience, freelancers often go through the same process of showcasing their work with their portfolio, they often need a resume and they need to interview for certain opportunities. If this is your experience as well, I think the course is for you too!
            </p>
          </div>
        </div> -->

                <div class="accordion-tab" id="money-back">
                    <input type="checkbox" id="chck5">
                    <label class="accordion-tab-label" for="chck5">Do you have a money-back policy?</label>
                    <div class="accordion-tab-content">
                        <p>
                            Yes, a 30 days money-back policy. So far, 99% of UX Buddy students were happy with the
                            course but if for some reason you’re not, I’ll gladly refund your order.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</article>