---
layout: default
---
<article class="post mobile-margin">

  <header class="post-header m-t-4">
    <h1 class="post-title h2">{{ page.title | escape }}</h1>
    <hr>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
