.barebones {
  max-width: 500px;
  margin: 0 8%;

  @media screen and (min-width: $desktop) {
    margin: 0 auto;
  }

  p {
    @include margin-bottom(1);
  }
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}

.thanks {
  overflow-x: hidden;

  .wrapper {
    position: relative;
    height: 100vh;
  }
}
