.site-footer {
  display: block;
  margin: 0 auto;
  width: 80%;
  @include padding(0,0,3);

  a, a:visited {
    color: $body-black;
  }
}

.footer-small-print {
  opacity: .5;
}

.footer-heading {
  @include font-size(1.44444, 1.555556);
}