header {
  display: block;
}

.site-header {
  @include max-width(85%, $large-screen-18, $large-screen + 2rem);
  @include align('center');
  @include margin-top(1);
  @include margin-bottom(2);
  position: relative;

  @media screen and (min-width: $desktop) {
    @include margin-top(2);
    @include margin-bottom(2);
    width: 75vw;
    margin-left: 15vw;
  }

  @media screen and (min-width: $large-screen) {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}



a.site-title {
  @include font-size(1.44444, 1.555556);
  font-family: $custom-font-headings;
  color: $body-black;

  &:visited {
    color: $body-black;

    &:hover {
      color: $body-black;
    }
  }
}

a.page-link {
  font-size: 20px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

a.page-link-cta {
  font-weight: bold;
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 5px;
    text-align: center;

    > svg path {
      stroke: $vivid-blue;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $desktop) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .page-link {
      display: inline;
      padding: 0;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }
  }
}
