// Hero

.hero-description {
  @include margin-top(1);

  p {
    @include line-height(1);
  }
}

ul.list-features {
  padding-left: 0;
}

.hero-title h1 {
  line-height: 1;
  @include margin-top(1);
}

.badge-new {
  background-color: #B6E5FF;
  color: $vivid-blue;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding: 4px 6px;
  font-family: $custom-font-body;
  vertical-align: middle;
}

.buy-option {
  // display: flex;
}

.stat-big {
  font-family: $custom-font-headings;
  font-size: 48px;
  line-height: 120%;
}

@media screen and (max-width: $desktop) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(2);
  }

  .author {
    display: none;
  }
}

@media screen and (max-width: $smaller-screen) {
  .hero-author {
    margin-top: 20px;
    display: block;
  }
}

@media screen and (min-width: $smaller-screen) {
  .hero-author {
    position: relative;
    left: 18em;
    top: 4em;
    max-width: 180px;
    display: block;
  }

  ul.list-features {
    padding-left: 40px;
  }

  .hero-title h1 {
    margin-top: 0;
  }

}

@media screen and (min-width: $small-screen) {
  .hero-author {
    left: 21em;
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    @include margin-top(3);
    @include align('center');
    width: 85vw;
    margin-left: 15vw;
  }

  .hero-title h1 {
    max-width: 800px;
  }

  .hero-author {
    left: 16em;
    top: 5em;
  }

  .hero-description {
    @include margin-top(0);
  }

  .hero-title span {
    display: block;
    width: 100%;
    @include line-height(3.5);
  }

}

@media screen and (min-width: $large-screen) {
  .course-intro {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    @include margin-top(4);
    @include align('center');
    width: 100%;
  }
}

.hero-image {
  @media screen and (max-width: $desktop) {
    order: 2;
    // max-width: 90%;
    // margin-left: 10%;
    margin-top: -20px;
  }

  @media screen and (min-width: $smaller-screen) {
    // max-width: 70%;
    // margin-left: 30%;
  }

  @media screen and (min-width: $small-screen) {
    // max-width: 60%;
    // margin-left: 40%;
  }

  @media screen and (min-width: $desktop) {
    float: right;
    // margin-left: -60px;
    margin-top: -20px;
  }
}

@media screen and (min-width: $desktop) {
  .hero-image-wrapper {
    width: 620px;
    float: right;
    margin-left: -220px;
    margin-top: 30px;
  }

  .hero-title-break {
    margin-left: -140px;
  }

  .hero-description p {
    display: block;
    line-height: inherit;
    @include line-height(1.3);
  }
}

.hero-title {
  @media screen and (max-width: $desktop) {
    order: 1;
  }

  max-width: 340px;
  @include padding(0, 0, 0);

  @media screen and (min-width: $desktop) {
    max-width: 100%;
    @include padding(0, 0, 0);
  }

  @media screen and (min-width: $smaller-screen) and (max-width: $desktop) {
    @include padding(0, 0, 0);
    max-width: 400px;

    .hero-title-break {
      display: block;
      @include line-height(2.5);
    }

    h1 {
      font-size: 4rem;
      @include line-height(2.5);
    }
  }

  @media screen and (min-width: $small-screen) and (max-width: $desktop) {
    max-width: 500px;

    h1, .hero-title-break {
      font-size: 5rem;
      @include line-height(3);
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .hero-title h1 {
    font-size: 112px;
  }

  .hero-author {
    left: 18em;
  }
}

.author {
  float: left;
  margin-top: 20px;
  margin-left: 10vw;
}

.hero-description {
  max-width: 550px;
  float: left;
  // @include max-width(100%, 500px, $tiny-screen, 880px, $desktop);
  // max-width: 880px;
  // @include align('center');
  // @include mobile-margin(8%);
  @media screen and (max-width: $desktop) {
    font-size: 20px;
  }
  // @media screen and (min-width: $desktop) {
  //   padding: 0 60px;
  // }
}

.hero-title {
  .button-cta-large {
    max-width: 300px;
  }

  p.money-back {
    max-width: 380px;
    text-align: center;
    margin-top: 16px;
  }
}

// Solution statement
.solution-statement {
  max-width: 712px;
  @include align('center');
}

// Problem statement
.problem-statement {
  @media screen and (min-width: $desktop) {
    max-width: 900px;
    @include align('center');
  }
}

.pains {
  @include padding-equal(1);

  @media screen and (min-width: $desktop) {
    @include padding-equal(2);
  }

  ul {
    @media screen and (min-width: $small-screen) {
      width: 45%;
      float: left;
    }
    list-style: none;

    &:first-child {
      margin-right: 5%;
    }

    li {
      text-indent: -2.4em;
      @include margin-bottom(0.5);

      @media screen and (min-width: $desktop) {
        @include margin-bottom(1);
        text-indent: -2.2em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.pain-points-job li:before,
.pain-points-job-hunt li:before {
  font-size: 24px;
  padding-right: 10px;
}

.pain-job-1:before {
  content: "😖";
}

.pain-job-2:before {
  content: "🥱";
}

.pain-job-3:before {
  content: "💰";
}

.pain-job-4:before {
  content: "😩";
}

.pain-job-hunt-1:before {
  content: "😢";
}

.pain-job-hunt-2:before {
  content: "😕";
}

.pain-job-hunt-3:before {
  content: "🤔";
}

.pain-job-hunt-4:before {
  content: "😰";
}

// Read more
.read-more-state {
  display: none;
}

.read-more-target {
  @media screen and (max-width: $small-screen) {
    opacity: 0;
    max-height: 0;
    font-size: 0;
  }
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-trigger {
  @media screen and (min-width: $small-screen) {
    opacity: 0;
  }
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  // content: 'Show less';
  display: none;
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: $color-link-normal;
}

// About author

.about-author-content {
  @include align('auto', $smaller-screen, 'center');
  @include max-width(100%, 90%, $smaller-screen, 1350px, $large-screen);
}

.about-author-image {
  @include align('auto', $small-screen, 'right');

  @media screen and (min-width: $small-screen) {
    @include padding(0, 1);
  }

  @media screen and (min-width: $small-screen) and (max-width: $desktop) {
    width: 60%;
  }
}

// Buy options
.subscribe {
  @include max-width(100%, 90%, $smaller-screen, 1000px, $medium-screen);
  @include align('center');
}

.get-access {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buy-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;

  @media screen and (min-width: $small-screen) {
    width: 47.5%;
    // display: flex;

    &:not(:last-child) {
      margin-right: 5%;
    }
  }

  // ul {
  //   list-style: none;
  //   padding-left: 20px;

  //   li {
  //     text-indent: -1em;

  //     &:before {
  //       content: "\2022";
  //       color: $pink-red;
  //       padding-right: 10px;
  //     }
  //   }
  // }
}

.buy-option-price {
  font-family: $custom-font-headings;
  font-size: 56px;
  vertical-align: middle;
}

.charge-explanation {
  max-width: 312px;
  @include line-height(.75);
}

// Five steps
.five-steps {
  @include max-width(100%, 90%, $smaller-screen, 1350px, $large-screen);
  @include align('auto', $smaller-screen, 'center');
}

.five-steps-toc {
  display: flex;
  @include align('auto', $desktop, 'left');

  @media screen and (min-width: $desktop) {
    width: 50%;
    height: 100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: left;
  }
}

.five-steps-details {
  @include align('auto', $desktop, 'left');

  @media screen and (min-width: $desktop) {
    width: 50%;
  }
}

.step-details {
  @media screen and (min-width: $smaller-screen) {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    @include margin-bottom(3);
    @include margin-top(3);

    img {
      margin: 0;
    }

    p {
      font-size: 20px;
    }
  }

  h4 {
    @include margin-bottom(0.5);
  }
}

.toc-step {
  @include margin-bottom(0.5);
  transition: all .3s;
  @media screen and (min-width: $desktop) {
    opacity: 0.4;
  }

  .line-decoration--pink {
    width: 30px;
    transition: width .3s;
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    opacity: 1;
  }

  @media screen and (min-width: $desktop) {
    &.active {
      .line-decoration--pink {
        width: 90px;
      }
    }
  }

  span {
    color: $pink-red;
    @include font-size($xs, $d-xs);
    font-weight: bold;
  }

  a {
    font-size: 20px;
    color: $body-black;

    &:visited, &:hover, &:visited:hover {
      color: $body-black;
    }
  }
}

// Better job description
.better-job-properties {
  @include max-width(100%, 90%, $smaller-screen, 1350px, $large-screen);
  @include align('auto', $smaller-screen, 'center');
}

.better-job-property {
  @media screen and (max-width: $desktop) {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
  }

  .line-decoration--pink,
  img {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    width: 30%;
    float: left;

    &:not(:last-child) {
      margin-right: 3%;
    }

    .line-decoration--pink {
      display: block;
      height: 3px;
      width: 90px;
      margin-left: 0;
    }

    img {
      display: block;
    }

    p, .h4 {
      max-width: 360px;
    }

    .h4 {
      @include margin-top(0.5);
    }

    &:nth-child(1) {
      .better-job-property-title {
        margin-top: 6em;
        margin-left: 10em;
        position: absolute;
        max-width: 185px;
      }
    }

    &:nth-child(2) {
      img {
        width: 90%;
        padding-left: 10%;
      }
    }

    &:nth-child(3) {
      .better-job-property-title, p {
        margin-left: 3em;
      }
    }
  }
}

// Signup form
.sign-up-form {
  background: rgba($green-100, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  transition: all .3s;

  label, input {
    width: 100%;
    display: block;
    @include line-height(1.5);
    font-size: 18px;
  }

  input {
    padding: 4px 16px;
    border: none;
    color: $body-black;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($body-black, 0.3);
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba($body-black, 0.3);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba($body-black, 0.3);
    }

  }

  svg {
    position: fixed;
    top: 3%;
    right: 5%;

    @media screen and (min-width: $desktop) {
      top: 5%;
      right: 5%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.form-name,
.form-surname {
  @include margin-bottom(0.5);
}

#msg {
  display: none;
}

.reviews {
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
}

.review {
  padding: 32px;
}

@media screen and (min-width: $desktop) {
  .reviews {
    width: 70%;
  }
  .review {
    float: left;
    width: 50%;
  }
}
