.post {
  @include max-width(85%, $large-screen-18, $large-screen + 2rem);
  @include align('center');
}

.post p {
  @include margin-bottom(1);
}

.post {
  h2, h3, h4, h5, h6 {
    max-width: 40rem;
  }
}