$max-width: 35 !default; // Number only, no units. Gets converted to REMs and pixels.

$tiny-screen: 25rem; // = 400px
$smaller-screen: 40rem; // = 640px
$small-screen: 50rem; // = 800px
$desktop: 70rem; // = 1120px
$medium-screen: 80rem; // = 1280px
$large-screen: 90rem; // = 1440px
$large-screen-18: 80rem; // = 1440px
