// @import url("//hello.myfonts.net/count/3a1c32");

@font-face {
  font-family: 'Gilroy';
  // src: url('/assets/fonts/3A1C32_0_0.eot');
  src: url('/assets/fonts/3A1C32_0_0.woff2') format('woff2'),
    url('/assets/fonts/3A1C32_0_0.woff') format('woff');
    // url('/assets/fonts/3A1C32_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // font-display: block;
}

// @font-face {font-family: 'Gilroy';src: url('webfonts/3A1C32_0_0.eot');src: url('webfonts/3A1C32_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A1C32_0_0.woff2') format('woff2'),url('webfonts/3A1C32_0_0.woff') format('woff'),url('webfonts/3A1C32_0_0.ttf') format('truetype'); }

// Base sizes
$base-font-size: 100 !default; // In %. Also used for mobile. Number only, no units.
$base-font-size-desktop: 112.5 !default; // In %. Used to calculate the desktop font size. Number only, no units.
$line-height: 1.625 !default;
$line-height-desktop: 1.5555555556;

// Mobile base & leading
$base: 16 * ($base-font-size / 100);
$leading: round($base * $line-height);
$leading-rem: $leading / $base;

// Desktop base & leading
$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop;

// Font sizes
$xxxl: 3.5; // 56px
$xxl: 2.665; // 43px
$xl: 2; // 32px
$l: 1.5; // 24px
$m: 1.125; // 18px
$s: 1; // 16px
$xs: 0.844; // 14px

$d-xxxl: 5.7778; // 104px
$d-xxl: 3.4444; // 62px
$d-xl: 2.66667; // 48px
$d-l: 2; // 36px
$d-m: 1.333333333; // 24px
$d-s: 1; // 18px
$d-xs: 0.7777777778; // 14px

.f-sz-xs {
  @include font-size($xs, $d-xs);
  @include line-height(0.75);

  strong {
    @include line-height(0.75);
  }

  a {
    @include line-height(0.5);
  }
}

.f-sz-m p, p.f-sz-m {
  @include font-size($m, $d-m);
  @include line-height(1.3);
}

.f-sz-l p, p.f-sz-l {
    @include font-size($l, $d-l);
}

// Font colours
$color-font-body: $body-black;
$color-font-headings: $color-font-body;
$color-font-light: #888 !default;
$color-font-figcaption: $color-font-body !default;

// Link colours
$color-link-normal: $vivid-blue;
$color-link-hover: lighten($color-link-normal, 5%);
$color-link-active: darken($color-link-normal, 10%);
$color-link-visited: $color-link-normal;

.f-cl-body-black {
  color: $body-black;
}

.f-cl-vivid-blue {
  color: $vivid-blue;
}

.f-cl-pink-red {
  color: $pink-red;
}

// Other styles
.uppercase {
  text-transform: uppercase;
  letter-spacing: 10%;
}
